body{
  background-image:;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%
}
.container{
  position:absolute;
  top:40%;
  left:50%;
  -webkit-transform: translate(-40%, -30%);
  transform: (-50%, -50%)
}
table{
  width: 900px;
  border:collapse;
  overflow: auto;
  box-shawdow:0 0 20px rgba(0,0,0.5)

}
th, td{
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color:#ffffff;
}
th{ 
  text-align: left;
  background-color: #88CAC5;
  font-family: Arial, Helvetica, sans-serif;

}

.sideNav{
  background-image: url("");
  background-repeat: no-repeat;
  display: none;
  height: 100%;
  width: 250px;
  position:fixed;
  z-index: 1;
  top:0;
  left:0;
  background-color: white ;
  overflow-x: hidden;
  padding-top: 60px;
}
span{
  color: white;
}
.sideNav .openNav{
  color: white;
}
.sideNav a{
  padding: 30px 28px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: gray;
  display: block;

}
.sideNav a:hover{
color: black;

}
.sideNav .closeBtn{
  position: absolute;
  color: black;
  top: 0;
  right: 25px;
  font-size: 40px;
  margin-left: 40px;

}
img{
  width: 55%;
  padding-top: 80%;
  padding-left: 8%;

}